@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 116px;
}
.ms_sony_logo{
    padding: 1rem;
    vertical-align: middle;
    
}

.logo_ps_nav{
    width: 100%;
}

.ms_link_nav{
    margin-bottom: 5px;
}

.ms_link_nav img{
    width: 10px;
}

.ms_text_black{
    color: black;
}

.arrow-hover-nav{
    display: none;
    transform: rotate(180deg);
}

.ms_nav_list:hover .arrow-hover-nav{
    display: inline-block;
}
.ms_nav_list:hover .arrow-nav{
    display: none;
}

.list-minu{
    padding-left: 0;
    margin-right: 23px;
}
.list-minu:hover{
    color: blue;
}
.ms_btn_nav{
    position: relative;   
    color: white;  
    border: none;
    height: 40px;
    width: 105px;
    border-radius: 20px;
    transition: all .5s linear;
    --border-size:2px; 
    background-color: gray;
}

.btn-border-pop-nav::before{
    content: '';
    position: absolute;
    top: 7%;
    left: 2%;
    right: 2%;
    bottom: 7%;
    z-index: 1;
    border-radius: 20px;
    display: none;
    border: 2px solid white;
}
.ms_btn_nav.btn-border-pop-nav:hover::before{
    display: block;
}


.jumbo{
    margin-top: 116px;
}

.ms_backgroundPhotoTop{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.jumbo-text-items{
    position: absolute;
    top: 41%;
    left: 7%;
}

.jumbo_items{
    padding: 6px 0;
}
.ms_btn{
    position: relative;   
    color: white;  
    border: none;
    height: 40px;
    width: 105px;
    border-radius: 20px;
    transition: all .5s linear;
    --border-size:2px;
    background-color: crimson; 
}
.btn-border-pop::before{
    content: '';
    position: absolute;
    top: 7%;
    left: 2%;
    right: 2%;
    bottom: 7%;
    z-index: 1;
    border-radius: 20px;
    display: none;
    border: 2px solid black;
}


.ms_btn.btn-border-pop:hover::before{
    display: block;   

}

.photos_under_jumbo{
    width: 100%;
}