@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 116px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

img{
    object-fit: cover;
    width: 100%;
}

/* nav-bar */
.ms_sony_logo{
    padding: 1rem;
    vertical-align: middle;
}

.logo_ps_nav{
    width: 100%;
}

.ms_link_nav{
    margin-bottom: 5px;
}

.ms_link_nav img{
    width: 10px;
}

.ms_text_black{
    color: black;
}

.arrow-hover-nav{
    display: none;
    transform: rotate(180deg);
}
.my_playstation,
.bi-search{
    line-height: 40px;
}

.ms_nav_list:hover .arrow-hover-nav{
    display: inline-block;
}
.ms_nav_list:hover .arrow-nav{
    display: none;
}

.list-minu{
    padding-left: 0;
    margin-right: 23px;
}
.list-minu:hover{
    color: blue;
}

.ms_btn_nav_blue{
    background-color: rgb(55, 55, 230);
}
.ms_btn_nav{
    position: relative;   
    color: white;  
    border: none;
    height: 40px;
    width: 105px;
    border-radius: 20px;
    transition: all .5s linear;
    --border-size:2px; 
    background-color: black;
}

.btn-border-pop-nav::before {
    content: '';
    position: absolute;
    top: 7%;
    left: 2%;
    right: 2%;
    bottom: 7%;
    z-index: 1;
    border-radius: 20px;
    transition: all .5s linear;
    display: none;
    border: 2px solid white;
}
.ms_btn_nav.btn-border-pop-nav:hover::before,
.ms_btn.btn-border-pop:hover::before{
    display: block;
}
.ms_btn_nav:hover{
    background-color: gray;
}
.button-s{
    width: 280px;
    margin-left: 0;
}
/* dropdown */
.ms_dropdown-menu{
    border: 1px solid white;
    border-radius: 0px;
}
.play-menu:hover{ 
    box-shadow: 0 3px 7px gray;
    
}
.dropdown-item:hover{
    color: rgb(70, 70, 228);
    background-color: white;
}


/* Jumbo */

.jumbo{
    margin-top: 116px;
}

.ms_backgroundPhotoTop{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.jumbo-text-items{
    position: absolute;
    top: 41%;
    left: 7%;
}

.jumbo_items{
    padding: 6px 0;
}
.ms_btn{
    position: relative;   
    color: white;  
    border: none;
    height: 40px;
    width: 105px;
    border-radius: 20px;
    transition: all .5s linear;
    --border-size:2px;
    background-color: crimson; 
}
.btn-border-pop::before{
    content: '';
    position: absolute;
    top: 7%;
    left: 2%;
    right: 2%;
    bottom: 7%;
    z-index: 1;
    border-radius: 20px;
    display: none;
    border: 2px solid black;
}

/* games-under-jumbo */
.photos_under_jumbo,
#special_border{
    border-radius: 16px;
}


#special_border{
    box-shadow: 0 0 0 4px white,
                0 0 0 6px blue;
}

.container_photo:hover .photos_under_jumbo {
    transform: translate(0, -10px);
    
}

/* ecco la playstation */

.accessories{
    filter: opacity(.7);
}
.accessories:hover{
    filter: opacity(1);
}
/* console Playstation */
.ms_btn_nav.long{
    width: 200px;
}


/* it takes two */
.ms_backgroundPhotoMiddle{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 765px;
    position: relative;
}

.takestwo-text-items{
    position: absolute;
    top:9%;
    left: 4%;
}
/* Ps-plus */

.ps_plus_photo{
    height: 100%;
    object-fit: cover;
}

.esplora{
    width: 200px;
    background-color: lightgrey;
}

.esplora:hover{
    box-shadow: 0 0 8px #e2dede;
}

/* playStation now */
.background-darkBlue{
    background-color: rgb(3, 3, 68);
}

footer{
    background-color: rgb(30, 101, 207);
}







